# Environment and Data

### Modules import, config, custom functions

In [162]:
# Environment and configs
import sys
import os
from pathlib import Path

import kagglehub
from kagglehub import KaggleDatasetAdapter

parent_dir = Path.cwd().resolve().parent
sys.path.append(str(parent_dir))

from src.config import Config

config = Config()
print(parent_dir)
print('Config initialized')

# Modules for data 
import pandas as pd

C:\Users\Мариан\Desktop\Jupyter Notes\Projects\Trainee_iFortex\Git\job_posting
Config initialized

In [278]:
def size_memory_info(df: pd.DataFrame, name: str = 'current df'):
    size_in_bytes = df.memory_usage(deep=True).sum()
    size_in_megabytes = size_in_bytes / (1024 ** 2)
    size_in_gigabytes = size_in_bytes / (1024 ** 3)

    print(f"\nMemory usage of {name}: {size_in_megabytes:.2f} MB ~ {size_in_gigabytes:.2f} GB\
                \nNumber of rows in this table: {df.shape[0]}\
                \nNumber of columns in this table: {df.shape[1]}\n")

### Download Dataset directly from kaggle

In [2]:
# os.environ["KAGGLEHUB_CACHE"] = str(config.get('raw_dir'))
# # Set the path to the file you'd like to load
# path = kagglehub.dataset_download("arshkon/linkedin-job-postings")

# # Load the latest version
# df = kagglehub.load_dataset(
#   KaggleDatasetAdapter.PANDAS,
#   "arshkon/linkedin-job-postings",
#   file_path,
#   # Provide any additional arguments like 
#   # sql_query or pandas_kwargs. See the 
#   # documenation for more information:
#   # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
# )

# print("First 5 records:", df.head())

### Reading Raw_Data

In [163]:
postings_raw = pd.read_csv(config.get('postings'))

skills_id = pd.read_csv(config.get('skills_id'))
mapping_skills = pd.read_csv(config.get('mapping_skills'))

industries_id = pd.read_csv(config.get('industries_id'))
mapping_industries = pd.read_csv(config.get('mapping_industries'))

In [164]:
print(postings_raw.shape)

print(skills_id.shape)
print(mapping_skills.shape)

print(industries_id.shape)
print(mapping_industries.shape)

(123849, 31)
(213768, 2)
(35, 2)
(164808, 2)
(422, 2)

### Basic Info about Data

In [117]:
postings_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [68]:
postings_raw[['job_id','title']].head(4)

     job_id                                              title
0    921716                              Marketing Coordinator
1   1829192                  Mental Health Therapist/Counselor
2  10998357                        Assitant Restaurant Manager
3  23221523  Senior Elder Law / Trusts and Estates Associat...

In [59]:
industries_id.head(5)

       job_id  industry_id
0  3884428798           82
1  3887473071           48
2  3887465684           41
3  3887467939           82
4  3887467939           80

In [58]:
mapping_industries.head(5)

   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

Would like to see how our feature looks:

In [274]:
list(postings_raw.loc[:,'description'].sample(5)[1:20])

['Morrison Healthcare\n\nSalary: \n\nOther Forms of Compensation:\n\nPay Grade: 12\n\nMorrison Healthcare is a leading national food and nutrition services company exclusively dedicated to serving more than 600 hospitals and healthcare systems. Morrison\'s hospital kitchens, restaurants, and cafés feature socially responsible practices and exceptional guest experiences. The company\'s comprehensive Mindful Choices® wellness and sustainability platform includes the latest in healthful eating and an understanding of behavioral change in food consumption. Morrison\'s alignment with Partnership for a Healthier America\'s (PHA) Hospital Healthy Food Initiative positively impacts up to 41 million patients and 500 million hospital meals annually. Morrison has been named one of Modern Healthcare\'s "Top 100 Best Places to Work in Healthcare" for the past five years, and Training Magazine\'s Top 125 organizations for the past six consecutive years. The company is a division of Compass Group and has more than 1,200 registered dietitians, 300 executive chefs, and 17,000 professional food service team members.\n\nJob Summary\n\nJob Summary:\n\nWorking as the Sous Chef, you will be responsible for the successful operation of the Culinary Department for a facility. You will assist in the supervision, preparation, and cooking of various food items, developing daily menu items and their preparation and garnishment. You may supervise hourly associates and you work with Executive Chef/Chef to develop new menus and assist with ordering. This is an exciting opportunity for an energetic, entrepreneurial Culinary professional.\n\nKey Responsibilities:\n\nAssists the Executive Chef with managing cost controls and control expenditures for the accountAssists the Executive Chef with planning and creating menusProduces and execute catering eventsRolls out new culinary programs in conjunction with Company marketing and culinary team\n\nPreferred Qualifications:\n\nA.S. or equivalent experienceSome progressive culinary/kitchen management experience, depending upon formal degree or trainingCatering experience a plusHigh volume, complex foodservice operations experience - highly desirableInstitutional and batch cooking experiences helpfulComprehensive knowledge of food and catering trends with a focus on quality, production, sanitation, food cost controls, and presentationMust be experienced with computers; to include Microsoft Office (Word, Excel and Power Point), Outlook, E-mail and the InternetMust be willing to participate in client satisfaction programs/activities ServSafe certified - highly desirable\n\nApply to Morrison Healthcare today!\n\nMorrison Healthcare is a member of Compass Group USA\n\nClick Here To Learn More About The Compass Story\n\nCompass Group is an equal opportunity employer. At Compass, we are committed to treating all Applicants and Associates fairly based on their abilities, achievements, and experience without regard to race, national origin, sex, age, disability, veteran status, sexual orientation, gender identity, or any other classification protected by law.\n\nQualified candidates must be able to perform the essential functions of this position satisfactorily with or without a reasonable accommodation. Disclaimer: this job post is not necessarily an exhaustive list of all essential responsibilities, skills, tasks, or requirements associated with this position. While this is intended to be an accurate reflection of the position posted, the Company reserves the right to modify or change the essential functions of the job based on business necessity. We will consider for employment all qualified applicants, including those with a criminal history (including relevant driving history), in a manner consistent with all applicable federal, state, and local laws, including the City of Los Angeles’ Fair Chance Initiative for Hiring Ordinance, the San Francisco Fair Chance Ordinance, and the New York Fair Chance Act. We encourage applicants with a criminal history (and driving history) to apply.\n\nAssociates At Morrison Healthcare Are Offered Many Fantastic Benefits.\n\n Medical  Dental  Vision  Life Insurance/ AD  Disability Insurance  Retirement Plan  Flexible Time Off  Holiday Time Off (varies by site/state)  Associate Shopping Program  Health and Wellness Programs  Discount Marketplace  Identity Theft Protection  Pet Insurance  Commuter Benefits  Employee Assistance Program  Flexible Spending Accounts (FSAs) \n\nApplications are accepted on an ongoing basis.\n\n Morrison Healthcare maintains a drug-free workplace. \n\nReq ID:  1302624\n\nMorrison Healthcare\n\nMICHAEL GREMBA\n\n[[req_classification]]',
 'Overview\n\nExperience a place of energy, passion, and excitement. A place where the joy of discovery and uncommon artistry blend to create exhilarating buying experiences—for true beauty enthusiasts. At Ulta Beauty, we’re transforming the world one shade, one lash, one cut at a time. Because beauty is powerful.\n\nIf you seek greater purpose—a place of vision, mission, and lived values—where voices are heard, contributions valued and recognized and growth opportunities abound, consider Ulta Beauty. Nowhere else are the possibilities quite this beautiful.\n\nTHE IMPACT YOU CAN HAVE:\n\nAs a Merchandise Manager at Ulta Beauty, you are responsible for leading through Ulta Beauty’s mission, vision, and values and contributing to a high-performing team that consistently delivers top-line sales growth for a store through operational excellence. You will support the Operations Manager by leading a talented team of Beauty Advisors and Task Associates to complete operational tasks and have accountability for the shipment process, replenishment, omni-channel, price changes, and markdowns. This is an opportunity to build deeper levels of operational excellence while stretching into new areas of challenge and professional fulfillment. Explore your professional capabilities and make a meaningful difference for our guests, our associates, our company, and your career.\n\nYou’ll accomplish all of this by:\n\nPromoting a culture of accountability to meet or exceed the store’s goals related to retail and service sales, guest loyalty (including credit), payroll, omni-channel, and retail shrink as set by Ulta Beauty for the store.Utilizing the company’s task management system to prioritize and ensure the execution of all operational focuses inclusive of shipment, replenishment, omni-channel, price changes, and markdowns.Forecasting and adjusting the store’s payroll to maximize productivity, achieve sales and payroll goals, and complete operational task workload on time and within the payroll budget.Reviewing, analyzing, and reacting to financial and operational reporting.Executing the Guest Engagement Leader program flawlessly through business ownership, associate coaching, and leading a helpful and friendly guest experience.Performing makeup applications, skincare analysis and product demonstrations.Attracting, hiring, and retaining a diverse team of top talent.Creating an inclusive environment and supporting all aspects of associate professional development, including training, coaching and succession planning.Protecting company assets and minimizing loss by ensuring all store standards and operating procedures are met, including workplace safety, inventory control, and loss prevention.Supporting continuous improvement by influencing the adoption of company initiatives and technology, communicating expectations, and ensuring the execution of all store tasks.Ensuring adherence to all Ulta Beauty policies, procedures, and standards.Communicating and providing feedback to store and field leadership.\n\nTHE ESSENTIALS FOR SUCCESS:\n\nQualified candidates will be retail leaders who possess 1-2+ years of fast-paced retail management or other relevant work experience. Additional requirements include:\n\nEducation\n\nHigh school diploma is preferred.\n\nExperience\n\nFinancial management: success with driving top-line sales, interpreting reporting data, managing payroll budgets, and controlling expense.Retail management: proven ability with monitoring inventory levels, achieving operational excellence, driving a service culture, and executing merchandising directives.Leadership management: experience with attracting, developing, and motivating top talent, swiftly adapting to change and leading others through the change-curve, developing collaborative relationships with others, and leading and influencing a team.\n\nSkills\n\nProficient with basic technology (e.g., Point of Sale system, Microsoft Office programs, and Apple devices).Excellent written and verbal communication.Strong collaboration and interpersonal skills.Strong organizational skills to manage multiple tasks. Ability to react under pressure, use good judgment in ambiguous situations, and be flexible/adaptable.\n\nSpecial Position Requirements\n\nWork a flexible, full-time schedule to include days, evenings, weekends, and holidays.Must be able to work shifts beginning at 5:00 a.m.Must be available to work shifts on Sundays and Mondays.\n\nWORKING CONDITIONS \n\nContinuous mobility throughout the store during shift.Continuous and/or frequent bending, pulling, pushing, crouching, stooping, reaching, and twisting during shift.Continuous coordination and manipulation of objects during shift.Frequent lifting and/or moving up to 40 lbs. during shift.Frequent use of a computer, telephonic devices, and related office supplies.\n\nAbout\n\nAt Ulta Beauty (NASDAQ: ULTA), the possibilities are beautiful. Ulta Beauty is the largest North American beauty retailer and the premier beauty destination for cosmetics, fragrance, skin care products, hair care products and salon services. We bring possibilities to life through the power of beauty each and every day in our stores and online with more than 25,000 products from approximately 500 well-established and emerging beauty brands across all categories and price points, including Ulta Beauty’s own private label. Ulta Beauty also offers a full-service salon in every store featuring—hair, skin, brow, and make-up services.\n\nWe will consider for employment all qualified applicants, including those with arrest records, conviction records, or other criminal histories, in a manner consistent with the requirements of any applicable state and local laws, including the City of Los Angeles’ Fair Chance Initiative for Hiring Ordinance, the San Francisco Fair Chance Ordinance, and the New York City Fair Chance Act.',
 'Job Details:\nSenior Microbiologist/Laboratory Coordinator\nGlobal Pharmaceutical CompanySkillman, NJ - OnsiteLong Term ContractPay up to $105,000/year\nMicrobiology Laboratory Coordinatorminimum of a BA degree neededLab based position. On-site 5-days per week full time hours.\nResponsible for managing and leading a team of microbiologists and lab technicians. This includes providing guidance, training, and mentorship to ensure the efficient and effective functioning of the lab. Coordination, tracking, and approval of staff’s schedules including time-sheets, time-off, holiday coverage, etc.\nReview and approve all lab data in accordance with applicable procedures and cGMP requirements. Maintain up-to-date approvals in Fusion and of Laboratory notebooks.\nOverall operation and maintenance of the laboratory. This includes ensuring compliance with safety regulations, overseeing equipment maintenance, managing inventory and supplies, and maintaining a clean and organized workspace. \nResponsible for implementing and maintaining quality control and assurance procedures within the lab. This involves developing and enforcing standard operating procedures (SOPs), ensuring accuracy and precision of data, and monitoring the quality of laboratory testing and analysis. Ownersip of investigations and corrective actions for out-of-specification microbiology results and equipment.\nEnsure compliance with relevant regulatory requirements and industry standards. They stay updated with the latest regulations, guidelines, and best practices in microbiology research and implement necessary changes within the lab to meet those requirements.\nResponsible for the training and development of lab personnel. This includes providing ongoing training on laboratory techniques, safety protocols, and new research methodologies to enhance the skills and knowledge of the team members.\nResponsible for maintaining accurate and detailed records of laboratory procedures, experimental data, \nCommunicate openly with cross-functional partners and micro project leads about sample submission, testing timing, challenges, failures, results, reports, etc.\nRequires proficiency in a wide variety of microbiological methods and supporting data management processes.\nExhibits good time-management in prioritizing, planning and executing multiple functions and tasks simultaneously.\nExcellent working knowledge of aseptic technique, microbial identification techniques, and microbial culture handling requirements.',
 "Who We Are\n\nOn Location is a premium experience provider, offering world class hospitality, ticketing, curated guest experiences, live event production, and travel management across sports, entertainment, and fashion. From unrivaled access for corporate clients to guests looking for fully immersive experiences at marquee events, On Location is the premier and official service provider to over 150 iconic rights holders, such as the IOC (Paris 2024, Milano Cortina 2026, LA 2028), NFL, NCAA, UFC and PGA of America, and numerous musical artists and festivals. The company also owns and operates a number of unique and exclusive experiences, transforming the most dynamic live events into a lifetime of memories. On Location is a subsidiary of Endeavor, a global sports and entertainment company.\n\nEndeavor is a global sports and entertainment company, home to many of the world’s most dynamic and engaging storytellers, brands, live events, and experiences. The Endeavor network specializes in talent representation through entertainment agency WME; sports operations and advisory, event management, media production and distribution, and brand licensing through IMG; live event experiences and hospitality through On Location; full-service marketing through global cultural marketing agency 160over90; and sports data and technology through IMG ARENA and OpenBet. Endeavor is also the majority owner of TKO Group Holdings (NYSE: TKO), a premium sports and entertainment company comprising UFC and WWE.\n\nThe Role And What You’ll Do\n\nOn Location’s Inside Sales program will provide entry-level sports and entertainment business executives with the opportunity to learn and sell premium ticket hospitality packages for the world’s most premiere events including the Super Bowl, NCAA Championships, UFC, WWE, and PGA Tour. With a focus on consistent sales training and professional development through personalized one-on-one coaching, On Location’s Inside Sales program will build the foundation needed for a long and successful career in the revenue-generating side of the sports and entertainment business. Sell a full menu of premium ticket and hospitality packages to the world’s most premiere events\n\nSell a full menu of premium ticket and hospitality packages to the world’s most premiere events Receive inbound calls and inquiries on all premium product offerings Execute targeted outbound sales campaigns to generate new revenue opportunities Utilize social selling tools to generate new lead sources Proactively create opportunities for new business through up selling opportunities and referrals from existing clients Conduct sales conversations via phone presentations and virtual meetings Effectively follow up with clients and prospective clients to build relationships to help provide repeat business and to meet excellent customer service requirements Meet or exceed established monthly and yearly revenue goals Perform additional duties as assigned \n\nYou Have These\n\nBachelor's Degree in Business, Communications or Sport Management Preferred \n\nWe’d Love If You Also Have These\n\nExcellent interpersonal skills Must be organized, creative, and enthusiastic Detail Oriented Proficiency in basic software programs (Microsoft Word and Microsoft Outlook) \n\nTravel: Must be adaptable with work and travel schedule and be available to travel for work which may include extended work hours during nights, weekends, and holidays. This position may require up to 5 % travel.\n\nHow We Work\n\nEndeavor is at the center of sports, media, entertainment, and fashion and is a largely relationship-based business. To foster an environment of collaboration, develop our future talent, and build on relationships across leadership, peers, and teams, we work from the office 4 days per week/in a remote capacity. We see immeasurable value internally and throughout the core of the businesses we support.\n\nDon’t meet every single requirement? We are dedicated to building a diverse, inclusive, authentic workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.\n\nEndeavor unites and brings people together in our love of sport, culture, and entertainment. We\u202funderstand this can only be accomplished when we lead with a lens of diversity,\u202fequity,\u202fand\u202finclusion\u202fin\u202feverything we do. As a global company\u202fthat\u202fdrives\u202fculture,\u202fwe\u202fstrive to reflect the\u202fworld’s\u202fdiverse\u202fvoices.\u202f\u202f\n\nEndeavor is an equal opportunities employer and encourages applications from suitably qualified and eligible candidates regardless of sex, race, disability, age, sexual orientation, or religion or belief."]

## DQC

### Duplicates Basic

In [165]:
postings_raw.duplicated().sum()

np.int64(0)

No full duplicates

In [166]:
postings_raw[postings_raw.duplicated(subset=["job_id"], keep = False)]

Empty DataFrame
Columns: [job_id, company_name, title, description, max_salary, pay_period, location, company_id, views, med_salary, min_salary, formatted_work_type, applies, original_listed_time, remote_allowed, job_posting_url, application_url, application_type, expiry, closed_time, formatted_experience_level, skills_desc, listed_time, posting_domain, sponsored, work_type, currency, compensation_type, normalized_salary, zip_code, fips]
Index: []

[0 rows x 31 columns]

No duplicates for job_id.

### Description Duplicates

In [283]:
print('Number of deplicates values: ',postings_raw.duplicated(subset=["description"], keep = False).sum())

Number of deplicates values:  22122

In [167]:
def description_duplicates(postings_raw):
    print(f' \'description\' duplicates precentage: {postings_raw[postings_raw.duplicated(subset=["description"], keep=False)].sort_values("description").shape[0] / postings_raw.shape[0]*100:.2f}% ')

In [168]:
description_duplicates(postings_raw=postings_raw)

 'description' duplicates precentage: 17.86%

Exact values:

In [169]:
postings_raw[postings_raw.duplicated(subset=["description"], keep=False)].sort_values("description").head(10)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
88229,3904393150,Boehringer Ingelheim,"US_Specialist III, LMS",\n\n\nDescription \n\n\n\n\n\nLearning is a cr...,NaN,NaN,"Ridgefield, CT",3235.0,112.0,NaN,...,NaN,1.713395e+12,jobs.boehringer-ingelheim.com,0,FULL_TIME,NaN,NaN,NaN,6877.0,9001.0
108217,3905337321,Boehringer Ingelheim,"Global Specialist III, LMS",\n\n\nDescription \n\n\n\n\n\nLearning is a cr...,NaN,NaN,"Ridgefield, CT",3235.0,4.0,NaN,...,NaN,1.713481e+12,jobs.boehringer-ingelheim.com,0,FULL_TIME,NaN,NaN,NaN,6877.0,9001.0
41184,3899520881,TEKsystems,"Sales Development Rep - Jackson, MS",\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,HOURLY,"Ridgeland, MS",2152.0,18.0,21.0,...,NaN,1.713277e+12,ars2.equest.com,0,FULL_TIME,USD,BASE_SALARY,43680.0,39157.0,28089.0
41159,3899519973,TEKsystems,Sales Development Rep (Columbus),\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,NaN,"Dublin, OH",2152.0,7.0,NaN,...,NaN,1.713277e+12,ars2.equest.com,0,FULL_TIME,NaN,NaN,NaN,43016.0,NaN
42343,3899533522,TEKsystems,Sales Development Rep-Madison,\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,HOURLY,"Madison, WI",2152.0,14.0,21.0,...,NaN,1.713280e+12,ars2.equest.com,0,FULL_TIME,USD,BASE_SALARY,43680.0,53703.0,55025.0
41612,3899525622,TEKsystems,Sales Development Representative - Fort Worth,\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,HOURLY,"Fort Worth, TX",2152.0,11.0,21.0,...,NaN,1.713278e+12,ars2.equest.com,0,FULL_TIME,USD,BASE_SALARY,43680.0,76102.0,48439.0
42460,3899535274,TEKsystems,Sales Development Rep-2 Greensboro (Summer 202...,\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,NaN,"Greensboro, NC",2152.0,4.0,NaN,...,NaN,1.713280e+12,ars2.equest.com,0,FULL_TIME,NaN,NaN,NaN,27395.0,NaN
42459,3899535273,TEKsystems,"Sales Development Rep 2 - Roanoke, VA (Summer ...",\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,NaN,"Roanoke, VA",2152.0,14.0,NaN,...,NaN,1.713280e+12,ars2.equest.com,0,FULL_TIME,NaN,NaN,NaN,24011.0,51770.0
42190,3899531573,TEKsystems,Sales Development Rep-2- San Antonio,\n\nAbout TEKsystems and TEKsystems Global Ser...,NaN,NaN,"San Antonio, TX",2152.0,27.0,NaN,...,NaN,1.713280e+12,ars2.equest.com,0,FULL_TIME,NaN,NaN,NaN,78201.0,48029.0
57242,3901942961,CJ,Associate Program Compliance Manager,\n\nFrom helping to invent the affiliate indus...,NaN,NaN,"Chicago, IL",5679.0,2.0,NaN,...,NaN,1.713473e+12,jobs.smartrecruiters.com,0,FULL_TIME,NaN,NaN,NaN,60601.0,17031.0

### Missing values

In [171]:
postings_raw.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

We are happy! At leas we don't see a lot nulls in 'description' columns

In [279]:
size_memory_info(postings_raw)

Memory usage of current df: 928.20 MB ~ 0.91 GB
Number of rows in this table: 123849
Number of columns in this table: 31

### Vocabs

Job id supposed to be a unique value as part of page URL, duplicates will be removed from skills_id

In [286]:
industries_id

            job_id  industry_id
0       3884428798           82
1       3887473071           48
2       3887465684           41
3       3887467939           82
4       3887467939           80
...            ...          ...
164803  3902882321          104
164804  3902879720           27
164805  3902876855           80
164806  3902878689          116
164807  3902883233           44

[164808 rows x 2 columns]

In [287]:
industries_id[industries_id.duplicated(subset=["job_id"], keep = False)]

            job_id  industry_id
3       3887467939           82
4       3887467939           80
5       3887471331           57
6       3887471331          332
7       3887471331          383
...            ...          ...
164791  3906264345           12
164792  3902880673           59
164793  3902880673         3243
164799  3906261853           15
164800  3906261853           12

[62089 rows x 2 columns]

In [ ]:
skills_id['skill'] = skills_id['skill_abr'].\
    map(mapping_skills.set_index('skill_abr')['skill_name'])
skills_id

In [ ]:
postings_raw['target'] = postings_raw['job_id'].map(skills_id.set_index('job_id')['skill'])
postings_raw

### Transform

In [121]:
postings_raw['description'] = postings_raw['description'].astype('string')

# Other

In [5]:


df1 = pd.DataFrame({
    "id": [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    "id": [1, 2, 3],
    "value": ["a", "b", "c"]
})

In [6]:
df1

   id
0   1
1   2
2   3
3   4

In [7]:
df1["value"] = df1["id"].map(df2.set_index("id")["value"])